extends layout

block content
  header.masthead
    .intro-body
      .container
        .row
          .col-lg-8.mx-auto
            h1 #{title}
            p.intro-text
              | Department of Electronics and Communication Engineering
              br
              | proudly present
            h2 SATRONIX-2K17
            a.btn.btn-circle.js-scroll-trigger(href='#event')
              i.fa.fa-angle-double-down.animated
  hr.grey-border
  section#event
    div(class="container")
      h2.text-center Events
      div(class="row")
        div(class="col-sm-6")
          div(class="panel")
            div(class="panel-heading")
              h3(class="panel-title text-center") Technical Event
            div(class="panel-body")
              ul(class="list-group")
                li(class="list-group-item list-group-item-info")
                  i.fa.fa-play.faa-horizontal.animated
                  span.ml10 Formula War
                li(class="list-group-item list-group-item-info")
                  i.fa.fa-play.faa-horizontal.animated
                  span.ml10 Fast Mind
                li(class="list-group-item list-group-item-info")
                  i.fa.fa-play.faa-horizontal.animated
                  span.ml10 Spinner Mind
                li(class="list-group-item list-group-item-info")
                  i.fa.fa-play.faa-horizontal.animated
                  span.ml10 Expose - DE - Project
                li(class="list-group-item list-group-item-info")
                  i.fa.fa-play.faa-horizontal.animated
                  span.ml10 Papyrus
        div(class="col-sm-6")
          div(class="panel")
            div(class="panel-heading")
              h3(class="panel-title text-center") Non-Technical Event
            div(class="panel-body")
              ul(class="list-group")
                li(class="list-group-item list-group-item-info")
                  i.fa.fa-play.faa-horizontal.animated
                  span.ml10 Min to Win
                li(class="list-group-item list-group-item-info")
                  i.fa.fa-play.faa-horizontal.animated
                  span.ml10 Suprise event
                li(class="list-group-item list-group-item-info")
                  i.fa.fa-play.faa-horizontal.animated
                  span.ml10 Space sixers
                li(class="list-group-item list-group-item-info")
                  i.fa.fa-play.faa-horizontal.animated
                  span.ml10 Big Boss
                li(class="list-group-item list-group-item-info")
                  i.fa.fa-space-shuttle.faa-passing.animated
                  span.ml10 Mock Quest
                li(class="list-group-item list-group-item-info")
                  i.fa.fa-trophy.faa-tada.animated
                  span.ml10 BIOVIYA
        div.mx-auto
          a.btn.btn-circle.js-scroll-trigger(href='#registration')
              i.fa.fa-angle-double-down.animated
  hr.grey-border
  .container#registration
    h2.text-center registration
    div.row
      .embed-responsive.embed-responsive-16by9
        iframe.embed-responsive-item(src='https://docs.google.com/forms/d/e/1FAIpQLSf12x6rzrdZ_9CRgB7v7lDmfk7SNfXsHCtXfuZvIsxZfYUY4Q/viewform?embedded=true') Loading ...
      div.mx-auto
            a.btn.btn-circle.js-scroll-trigger(href='#arena')
                i.fa.fa-angle-double-down.animated
  hr.grey-border
  .container#arena
    h2.text-center arena
    .jumbotron
      h2.text-center #{title}
      p.lead
        | 34, Udayavar Koil Street, Thirumazhisai, Poonamallee, Chennai, Tamil Nadu 600124
      hr.my-4
      p.lead Call us:
        a(href="tel:7401663401") 7401663401
        a(href="tel:") 9962458316
      p.lead
        a.btn.btn-primary.btn-lg(href="https://www.google.co.in/maps/dir/''/Alpha+College+Of+Engineering,+34,+Udayavar+Koil+Street,+Thirumazhisai,+Poonamallee,+Chennai,+Tamil+Nadu+600124/data=!4m5!4m4!1m0!1m2!1m1!1s0x3a528a39233ad42d:0xc6ded70cdeb94dc6?sa=X&ved=0ahUKEwiAwN3ho5vWAhUMPY8KHZ6zAjkQiBMIMjAB', role='button" target="_blank") Direction
