extends layout

block content
  h1(class="text-center")= title
  p Welcome to #{title}

  section(class='bg-primary')
    div(class="container")
      div(class="row")
        div(class="col-sm-6")
          div(class="panel panel-primary")
            div(class="panel-heading")
              h3(class="panel-title text-center")
                Technical Event
            div(class="panel-body bg-primary")
              ul(class="list-group")
                li(class="list-group-item list-group-item-info") Formula War
                li(class="list-group-item list-group-item-info") Fast Mind
                li(class="list-group-item list-group-item-info") Spinner Mind
                li(class="list-group-item list-group-item-info") Expose - DE - Project
                li(class="list-group-item list-group-item-info") Papyrus
        div(class="col-sm-6")
          div(class="panel panel-primary")
            div(class="panel-heading")
              h3(class="panel-title text-center")
                Non Technical Event
            div(class="panel-body bg-primary")
              ul(class="list-group")
                li(class="list-group-item list-group-item-info") Min to Win
                li(class="list-group-item list-group-item-info") Suprise event
                li(class="list-group-item list-group-item-info") Space sixers
                li(class="list-group-item list-group-item-info") Big Boss
                li(class="list-group-item list-group-item-info") Mock Quest
                li(class="list-group-item list-group-item-info") BIOVIYA
